.header {
  background-color: #fecd00;
  height: 72px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  width: 100wh;
}

.logo {
  height: 50px;
}

.headerBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(240, 240, 240);
  padding: 10px;
}
.headerBar span {
  font-size: 18px;
  font-weight: bold;
  align-self: center;
  text-align: center;
}

.activeMenu {
  border-bottom: 3px solid currentColor;
}

.loading {
  font-size: 40px;
  font-weight: bold;
  text-align: justify;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(240, 240, 240);
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 300px;
  width: 500px;
  margin: 1.25rem;
}

.card img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  width: 40%;
  object-fit: cover;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 60%;
  overflow: hidden;
  background-color: white;
  padding: 0 15px;
}

.titleMovie {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.dateMovie {
  color: grey;
}

.descMovie {
  text-align: justify;
  color: grey;
  margin-top: 20px;
  overflow: hidden;
  font-size: 12px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #fecd00;
}

footer span {
  padding: 0 10px;
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
  .card {
    height: 190px;
    width: 350px;
    margin: 1rem;
  }

  .titleMovie {
    margin-top: 2x;
    font-size: 12px;
  }

  .dateMovie {
    font-size: 12px;
  }

  .descMovie {
    margin-top: 10px;
    font-size: 9px;
  }

  .loading {
    font-size: 20px;
  }
}
