.App {
  text-align: center;
}

.header {
  background-color: #fecd00;
  height: 72px;
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.logo {
  height: 50px;
}

.headerBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: rgb(240, 240, 240);
}
.headerBar span {
  font-size: 18px;
  font-weight: bold;
}

.activeMenu {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(240, 240, 240);
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
  width: 650px;
  /* background-color: red; */
  margin: 20px;
}

.card img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 400px;
  width: 250px;
  object-fit: cover;
}

.detail {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  height: 380px;
  width: 400px;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  padding: 10px 10px;
}

.detail p {
  text-align: justify;
  margin: 0;
  color: grey;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  /* font-size: 25px; */
  background-color: #fecd00;
}
